trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

stages:

# -----------------------------
# Stage 1: Infrastructure
# -----------------------------
- stage: Terraform_Infra
  jobs:
  - job: Terraform
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: '1.6.0'

    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: terraform
        backendServiceArm: 'azure-terraform-connection'

    - task: TerraformTaskV4@4
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: terraform
        environmentServiceNameAzureRM: 'azure-terraform-connection'
        commandOptions: '-auto-approve'

# -----------------------------
# Stage 2: Security Scan
# -----------------------------
- stage: Security_Scan
  dependsOn: Terraform_Infra
  jobs:
  - job: TrivyScan
    pool:
      vmImage: ubuntu-latest
    steps:
    - script: |
        sudo apt-get install wget -y
        wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.50.0_Linux-64bit.deb
        sudo dpkg -i trivy_0.50.0_Linux-64bit.deb
      displayName: Install Trivy

    - script: |
        trivy fs .
      displayName: Code Scan

    - script: |
        docker pull nginx:latest
        trivy image nginx:latest
      displayName: Docker Image Scan

# -----------------------------
# Stage 3: Docker + NGINX Deploy
# -----------------------------
- stage: Deploy_Nginx
  dependsOn: Security_Scan
  jobs:
  - job: Deploy
    pool:
      vmImage: ubuntu-latest
    steps:
    - script: |
        echo "SSH into VM and deploy Docker + NGINX"
      displayName: Deployment Placeholder
