trigger:
- main

pr:
- main

stages:
- stage: Terraform_Infra
  displayName: Terraform Infrastructure
  jobs:
  - job: Terraform
    displayName: Create Azure VM
    pool:
      vmImage: ubuntu-latest
    steps:
    - checkout: self

    - script: |
        sudo apt-get update
        sudo apt-get install -y unzip wget
        wget https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
        unzip terraform_1.6.0_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
        terraform --version
      displayName: Install Terraform

    - script: |
        terraform init
      workingDirectory: terraform
      displayName: Terraform Init

    - script: |
        terraform apply -auto-approve
      workingDirectory: terraform
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
      displayName: Terraform Apply
